/* index */

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: white;
}

.header {
  margin-top: 6rem;
}

.text_container_sobre {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.1rem;
  max-width: 80%;
}

.text_container_sobre p:nth-child(2) {
  margin: 0.6rem 0;
}
